*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  place-content: center;
  height: 100vh;
  grid-template-rows: 1fr;
  background-color: #f6f6f6;
  color: #000000;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0px 10px;
  overflow-y: scroll;
  height: 100%;
  scroll-behavior: smooth;
  padding-bottom: 56px;
  scrollbar-width: none;
  -ms-overflow-style: none;

}

::-webkit-scrollbar {
  display: none;
}

#messages > li {
  /* border: 1px solid blue; */
  margin: 5px 0px;
}

.position-end{
  display: flex;
  justify-content: end;
}

.position-start{
  display: flex;
  justify-content: start;
}

.me {
  border-radius: 10px 0px 10px 10px;
  background-color: #1d9bf0;
  color: #fff;
  box-shadow: 0 1px 0.5px rgba(11,20,26,.13);

}

.other {
  border-radius: 0px 10px 10px 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 0.5px rgba(11,20,26,.13);
}

.message-content{
  padding: 0px 6px;
  font-weight: 500;
}

.username{
  font-weight: 600;
  color: darkorange;
}

#chat {
  border-radius: 4px;
  overflow: hidden;
  width: 350px;
  height: 100%;
  position: relative;
}

#form {
  bottom: 0;
  display: flex;
  align-items: center;
  height: 56px;
  left: 0;
  position: absolute;
  right: 0;
  background-color: #f6f6f6;
  border-top: 1px solid #f8f8f8;
  color: #000;
}

#input {
  border-radius: 9999px;
  box-shadow: none;
  flex: 1;
  height: 100%;
  margin: 4px;
  padding: 0 8px;
  background-color: #e9e9e9;
  border: none;
}

#input:focus {
  outline: 0;
}

#form>button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  background: #09f;
  color: #fff;
  border: 0;
  margin: 4px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#form>button:hover {
  background: #0cf;
}


/* Top */
#top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f6f6;
    border-top: 1px solid #f8f8f8;
    color: #000;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  background-color: #1d9bf0;
  background-image: url("../images/profile_avatar_image.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top_title{
  font-size: 1.2rem;
  font-weight: 600;
}

.settings{
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}



